* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $body-size;
    font-family: $family;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}